// @mixin dots($count) {
//   $text-shadow: ();
//   @for $i from 0 through $count {
//     $text-shadow: $text-shadow,
//                  (-.5+(random()) * 3) + em
//                  (-.5+(random()) * 3) + em
//                  7px
//                  hsla(random() * 360, 100%, 50%,.9);
//   }
//   text-shadow: $text-shadow;
// }

html {
  background: #16144E;
}

body, head {
  margin:0;
  display: block;
  font-size: 52px;
}

@keyframes slideIn {
  0% {
    transform: translateX(calc(-100vh));
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vh));
    opacity: 0;
  }
}
.question {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideIn forwards;
  animation-delay: 1s;
}
.question-out {
  animation: 1s ease-out 0s 1 slideOut forwards;
}

.questionRoom {
  transition: margin-top 0.5s ease 1s;
  transition-delay: 1s;
}


@keyframes firstplace {
  0% {
    opacity: 0;
    filter:blur(20px);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  display: none;
}

.trigger-pedistal{
  animation: firstplace 2s ease-out 1 forwards;
}

.first{
  color:gold;
  opacity: 0;
  animation-delay: 17.5s;
  vertical-align: middle;
}
.second{
  opacity: 0;
  animation-delay: 12.5s;
  color:silver;
  vertical-align: middle;
}
.third{
  opacity: 0;
  animation-delay: 5s;
  color:rgb(206, 160, 75);
  vertical-align: middle;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    filter:blur(20px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.trigger-title-in{
  animation: fadeIn 2s ease-out 0s 1 forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    filter:blur(20px);
    transform: translateX(100%);
  }
}

.trigger-fade-out{
  animation: fadeOut 2s ease-out 0s 1 forwards;
}

.trigger-fade-in {
  animation: fadeIn 2s ease-out 0s 1 forwards;
}

// head::before, head::after,
// body::before, body::after {
//   position: fixed;
//   z-index: -1;
//   top: 50%;
//   left: 50%;
//   width: 3em;
//   height: 3em;
//   content: '.';
//   mix-blend-mode: screen;
//   animation: 44s -27s move infinite ease-in-out alternate;
// }


// body::before {
//   @include dots(40);
//   animation-duration: 44s;
//   animation-delay: -27s;
// }

// body::after {
//   @include dots(40);
//   animation-duration: 43s;
//   animation-delay: -32s;
// }

// head::before {
//   @include dots(40);
//   animation-duration: 42s;
//   animation-delay: -23s;
// }

// head::after {
//   @include dots(40);
//   animation-duration: 41s;
//   animation-delay: -19s;
// }


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}